a{
    text-decoration: none;
}
nav{
    height: 80px;
    position: sticky !important;
    top: 0;
    background-color: #FFFFFF;
}
header{
    background-color: #f5f5f5;
    /* height: 80vh; */
}
.image1{
    object-fit: cover;
}
.shop-now{
    background-color: black;
    color: white;
}
.categories{
    cursor: pointer;
}
.categs{
    box-shadow: black 0px 0px 20px;
}
/* e7e9ec */
